@import url(fonts.css);
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Raleway";
  scroll-behavior: smooth;
}
::-webkit-scrollbar {
  background-color: white;
}
::-webkit-scrollbar-track {
  background-color: #283036;
}
::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 10px;
}

body {
  background-color: #283036;
  transition: 0.5s;
  scroll-behavior: smooth;
}

.container {
  max-width: 1300px;
  width: 100%;
  margin: 0 auto;
}
/* ----------------HEADER-------------------- */
.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 100;

  transition: 2s;
}
.header:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background: linear-gradient(
    150deg,
    #f9f9f9 40.81%,
    rgba(245, 38, 38, 0) 100.93%
  ); */
  background-color: #3c444aec;
  z-index: 3;
}
.header__inner {
  position: relative;
  display: flex;
  justify-content: end;
  height: 80px;
  align-items: center;
  transition: 0.2s;
}

.header__logo {
  flex: 0 0 60px;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  z-index: 5;
}
.header__logo img {
  max-width: 100%;
  display: block;
}
.header__burger {
}
.header__menu {
  display: flex;
  left: 0;
}
.header__list {
  display: flex;
  position: relative;
  z-index: 3;
}
.header__list li {
  list-style: none;
  margin: 0 0 0 30px;
}

.header__link {
  color: #ffffff;

  text-transform: uppercase;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  transition: 0.2s linear;
  /* opacity: 0.3; */
}

.header__link:hover {
  opacity: 1;
  color: #666b6e;

  font-size: 18.5px;
}

/* --------------CONTENT__BLOCK------------------ */
.content__title {
  display: flex;
  text-align: center;
  margin-top: 90px;
  font-weight: 700;
  font-size: 60px;
  color: rgb(255, 255, 255);
}
.content__block {
  /* background-color: #E7F6F2; */
  background-color: transparent;
  border-radius: 15px;
  margin-top: 80px;

  animation-name: bigcard;

  animation-duration: 2s;
  animation-delay: 1s;
  animation-iteration-count: infinite;
}

@keyframes bigcard {
  from {
    box-shadow: 0 0 0 0 rgb(255, 255, 255);
  }
  to {
    box-shadow: 0 0 0 20px rgba(248, 248, 248, 0);
  }
}

.content__block__inner {
  display: flex;
  justify-content: space-between;
  padding: 30px 30px;
}
.content__block__text {
  color: #ffffff;
}

.content__block__img img {
  border-radius: 10px;
  flex: 0 0 500px;
}

.content__title__background img {
  margin-top: -90px;
  height: 576px;
  width: 1582px;
}
/* ----------info---------- */
.info__block {
}
.container {
}
.info__block__inner {
  gap: 30px;
  display: flex;
  justify-content: space-between;
  padding: 30px 30px;
}
.info__text__block {
  color: #ffffff;
}
.info__podtitle {
}
.info__block__img img {
  border-radius: 10px;
  width: 540px;
  height: 350px;

  margin-top: 19px;
}
.quto {
  color: whitesmoke;
  font-size: 40px;
}
/* ----------цены---------- */

.market {
  padding: 60px;
  grid-template-columns: 1fr 1fr 1fr;
  display: grid;
  grid-gap: 30px;
}
.child {
  display: flex;
  justify-content: center;

  height: 70vh;
  text-align: center;
  width: 100%;
  border: none;
  border-radius: 10px;
  background-color: #ffffff;

  transition: 0.2s;
}
.child_1 {
  padding-top: 100%;
  height: 144vh;
  grid-row-start: 1;
  grid-row-end: 3;
}
.child_1:hover {
  margin-top: -10px;
}
.child_2:hover {
  margin-top: -10px;
}
.child_3:hover {
  margin-top: -10px;
}

.child_2 {
  padding-top: 35%;
}
.child_3 {
  padding-top: 35%;
}
.child img {
  width: 50%;
}
.child_4 {
  padding-top: 5%;
  grid-column-start: 2;
  grid-column-end: 4;
}
/* .child button {
  border-radius: 6px;
} */
.btn {
  margin-top: 50px;

  background-color: #283036;
  color: white;

  width: 200px;
  height: 50px;

  border-radius: 20px;
  border: none;

  font-size: 15px;
  font-weight: normal;

  transition: 0.3s;
}
.btn:hover {
  border: 2px solid #283036;

  color: #283036;

  background-color: transparent;
}

.store {
  font-size: 60px;

  display: flex;
  justify-content: center;

  color: white;

  margin-top: 50px;
}
.cardinput {
  background-color: white;

  border-radius: 10px;

  height: 300px;
  width: 1000px;

  margin-left: 250px;
  margin-top: 50px;

  padding-top: 50px;
  padding-left: 50px;
}
.connect {
  margin-top: -210px;
  font-size: 40px;
  color: #283036;
}
.inputs input {
  background-color: white;

  width: 250px;
  height: 50px;

  border: solid #283036;
  border-radius: 10px;

  margin-left: 620px;
  margin-top: 20px;

  font-size: 15px;

  padding-left: 20px;
}
.sumbit {
  margin-left: 620px;
  margin-top: 40px;

  width: 50px;
  height: 40px;

  font-size: 20px;

  border: none;
  border-radius: 10px;

  background-color: transparent;

  text-align: start;

  transition: 0.5s;

  padding-left: 20px;
}
.sumbit:hover {
  background-color: #283036;
  width: 250px;
  height: 40px;

  color: white;
}
.contact {
  font-size: 60px;
  display: flex;
  justify-content: center;
  color: white;
}

/* -------------------FOOTER----------------------- */

.block {
  margin-top: 150px;
  color: #283036;
  background-color: #ffffff;

  padding-top: 20px;
  padding-bottom: 50px;
}
.information {
  margin-left: 450px;
  margin-top: 50px;
}
.block p {
  margin-left: 450px;
  margin-top: 5px;
}
.costmers {
  margin-top: -247px;
  margin-left: 750px;
}
.b2 p {
  margin-left: 750px;
}
.client {
  margin-top: -171px;
  margin-left: 1050px;
}
.b3 p {
  margin-left: 1050px;
}

/* ----------------HEADER__MEDIA------------------- */
@media (max-width: 451px) {
  .header__inner {
    height: 50px;
  }
  .header__logo {
    flex: 0 0 40px;
    display: none;
  }
  .header__burger {
    display: block;
    position: relative;

    right: 50px;
    width: 30px;
    height: 20px;
    z-index: 3;
    padding: 0 20px;
  }
  .header__burger span {
    position: absolute;
    background-color: rgb(255, 255, 255);
    top: 9px;
    width: 100%;
    height: 2px;
    left: 0;
  }
  .header__burger:before,
  .header__burger:after {
    content: "";
    background-color: rgb(255, 255, 255);
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    transition: 0.5s;
  }
  .header__burger:before {
    top: 0;
  }
  .header__burger:after {
    bottom: 0;
  }
  .header__menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 70px 10px 20px 0;
  }
  .header__list {
    display: none;
  }
  .header__link li {
    display: none;
  }
  .content__title {
    display: grid;
    text-align: center;
  }
  .container {
    max-width: 500px;
  }
  .content__block__img {
    display: none;
  }
  .info__block__img {
    display: none;
  }
  .image {
    display: none;
  }
  .child_1 {
    width: 290px;
    height: 400px;
  }
  .child_1 img {
    position: absolute;

    margin-top: -200px;
    left: 100px;
  }
  .child_1 h2 {
    margin-top: -50px;
  }
  .child_1 button {
    margin-top: 10px;
  }

  .child_2 {
    background-color: rgb(255, 255, 255);

    width: 290px;
    height: 400px;

    margin-top: 500px;
    margin-left: -317px;
  }
  .child_2 img {
    margin-top: 60px;
  }
  .child_3 {
    background-color: rgb(255, 255, 255);

    width: 290px;
    height: 400px;

    margin-top: 1000px;
    margin-left: -345px;
  }
  .child_3 img {
    margin-top: 60px;
  }
  .child_4 {
    width: 290px;
    height: 400px;

    margin-top: 50px;
    margin-left: -314px;
  }
  .child_4 img {
    margin-top: 100px;
  }
  .cardinput {
    background-color: rgb(255, 255, 255);

    width: 290px;

    margin-left: 70px;
  }
  .cardinput input {
    margin-left: -30px;
    margin-top: 50px;
  }
  .connect {
    font-size: 15px;

    text-align: center;

    margin-left: -50px;
    margin-top: -280px;
  }
  .contact {
    margin-left: -20px;
  }
  .sumbit {
    margin-left: -40px;
    margin-top: 5px;
  }
  .store {
    margin-left: -50px;
  }
  .quto {
  }
  @keyframes bigcard {
    from {
      box-shadow: 0 10px 0 0px rgb(255, 255, 255);
    }
    to {
      box-shadow: 0 10px 0 0px rgb(255, 255, 255);
    }
  }
  footer {
    display: none;
  }
}

@media (min-width: 451px) {
  .image {
    display: none;
  }
}
